In [1]:
# import libraries
import pandas as pd 
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
columns_to_import = ['Country Name','Country Code','year','GDP per capita (current US$)','Population, total']

path=r'C:\Users\Zarqa Ayub\Achievement 6'

# Read the entire dataset
full_dataset = pd.read_csv(os.path.join(path,'02. data','original data','economic_data.csv'))  

# Select only the desired columns
df = full_dataset[columns_to_import]

# Display the resulting DataFrame
df.head()

,Country Name,Country Code,year,GDP per capita (current US$),"Population, total"
0,Afghanistan,AFG,1960,59.773194,8996973.0
1,Afghanistan,AFG,1961,59.860874,9169410.0
2,Afghanistan,AFG,1962,58.458015,9351441.0
3,Afghanistan,AFG,1963,78.706388,9543205.0
4,Afghanistan,AFG,1964,82.095231,9744781.0

In [3]:
df.shape

(16104, 5)

In [5]:
# filter the rows to include only 2010-2019 years
df_filter=df[(df['year']>2009) & (df['year']<2020)]
df_filter

,Country Name,Country Code,year,GDP per capita (current US$),"Population, total"
50,Afghanistan,AFG,2010,543.303042,29185507.0
51,Afghanistan,AFG,2011,591.162759,30117413.0
52,Afghanistan,AFG,2012,641.871479,31161376.0
53,Afghanistan,AFG,2013,637.165523,32269589.0
54,Afghanistan,AFG,2014,613.856689,33370794.0
...,...,...,...,...,...
16098,Zimbabwe,ZWE,2015,1445.071062,13814629.0
16099,Zimbabwe,ZWE,2016,1464.583529,14030390.0
16100,Zimbabwe,ZWE,2017,1548.170056,14236745.0
16101,Zimbabwe,ZWE,2018,1683.740577,14439018.0
16102,Zimbabwe,ZWE,2019,1463.985910,14645468.0

In [6]:
# check the years
df_filter['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [7]:
# rename columns for consistency for merging dataframes
df_filter.rename(columns={
    'Country Name':'Country',
    'Country Code':'Code',
    'year':'Year',
    'GDP per capita (current US$)':'GDP per capita',
    'Population, total':'Population'
},inplace=True)

C:\Users\Zarqa Ayub\AppData\Local\Temp\ipykernel_9820\2946926030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter.rename(columns={

### Exploratory Data Analysis

In [8]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2640 entries, 50 to 16102
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         2640 non-null   object
 1   Code            2640 non-null   object
 2   Year            2640 non-null   int64
 3   GDP per capita  2472 non-null   float64
 4   Population      2622 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 123.8+ KB

In [9]:
# Filter rows with missing data
rows_with_missing_data = df_filter[df_filter.isnull().any(axis=1)]
rows_with_missing_data

                     Country Code  Year  GDP per capita  Population
242           American Samoa  ASM  2019             NaN     55312.0
668                    Aruba  ABW  2018             NaN    105845.0
669                    Aruba  ABW  2019             NaN    106314.0
1396                 Bermuda  BMU  2014             NaN     65138.0
1397                 Bermuda  BMU  2015             NaN     65237.0
...                      ...  ...   ...             ...         ...
15675          Venezuela, RB  VEN  2019             NaN  28515829.0
15796  Virgin Islands (U.S.)  VIR  2018             NaN    106977.0
15797  Virgin Islands (U.S.)  VIR  2019             NaN    106631.0
15858     West Bank and Gaza  PSE  2019             NaN   4685306.0
15980            Yemen, Rep.  YEM  2019             NaN  29161922.0

[168 rows x 5 columns]

In [10]:
# Drop NaN rows
df_cleaned = df_filter.dropna()
df_cleaned.isnull().sum()

Country           0
Code              0
Year              0
GDP per capita    0
Population        0
dtype: int64

In [11]:
df_cleaned.shape

(2472, 5)

##### Join the dataframes on the 'Code' column, because the country names may be written slightly different

In [12]:
# Drop 'Country' column
df_cleaned=df_cleaned.drop('Country', axis=1)
df_cleaned.head()

   Code  Year  GDP per capita  Population
50  AFG  2010      543.303042  29185507.0
51  AFG  2011      591.162759  30117413.0
52  AFG  2012      641.871479  31161376.0
53  AFG  2013      637.165523  32269589.0
54  AFG  2014      613.856689  33370794.0

In [13]:
# Look for duplicates
df_cleaned.duplicated().value_counts()

False    2472
Name: count, dtype: int64

In [14]:
# Save cleaned data frame
df_cleaned.to_csv(os.path.join(path,'02. data','prepared data','economic_data_cleaned.csv'))